<div class="mui-file-upload" [attr.invalid]="invalid">
  <label class="mui-file-upload__label">{{ label }}
    <div class="mui-file-upload__container" [class.mui-input__container--invalid]="invalid">
      <input 
        class="mui-upload__input form-control" 
        [(ngModel)]="value" 
        (change)="onInput($event)" 
        (blur)="onBlur()"
        (focus)="markAsDirty()"
        (touch)="markAsDirty()"
        [attr.name]="name" 
        [attr.id]="id"
        type="file"
        [accept]="extensions"
        [disabled]="disabled" />
    </div>
  </label>
  <img [src]="imageSrc" *ngIf="imageSrc" class="mui-file-upload__image-preview">
  <mui-error-message *ngIf="showError" [show]="shouldShowError" [errors]="errors"></mui-error-message>
</div>