<div class="row mui-authentication">
  <div class="col-12 col-lg-6 mui-authentication__col-left">
    <div class="mui-authentication__section">
      <img class="mui-authentication__notebook" src="assets/images/imac.png" alt="notebook">
      <h2>{{'AUTHENTICATION.LEFT_SECTION.TITLE' | translate}}</h2>
      <p>{{'AUTHENTICATION.LEFT_SECTION.DESCRIPTION' | translate}}</p>
      <a class="btn btn-light mui-btn" href="">{{'BUTTON.LEARN_MORE' | translate}}</a>
    </div>
  </div>
  <div class="col-12 col-lg-6 mui-authentication__col-right">
    <div class="mui-authentication__section">
      <div class="mui-authentication__heading">
        <div class="mui-authentication__heading-branding mui-branding" >
          <img class="mui-authentication__heading-logo mui-branding-logo" src="assets/images/logo.svg" alt="logo">
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
