@import '../../../styles/variables';

.mui-loader {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display:  inline-block;
  font-size:  0;
  padding:  0;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: rgba($white, 0.5);
    backdrop-filter: blur(2px);
  }
  
  span {
    vertical-align: middle;
    border-radius: 100%;
    
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    animation: loader 0.8s linear infinite alternate;

    &:nth-child(1) {
      animation-delay: -1s;
      background: rgba($primary, 0.6);
    }

    &:nth-child(2) {
      animation-delay: -0.8s;
      background: rgba($primary, 0.8);
    }

    &:nth-child(3) {
      animation-delay: -0.26666s;
      background:rgba($primary, 1);
    }

    &:nth-child(4) {
      animation-delay: -0.8s;
      background: rgba($primary, 0.8);
    }

    &:nth-child(5) {
      animation-delay: -1s;
      background: rgba($primary, 0.4);
    }
  }
}

@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}