@import '../../../styles/variables';

.mui-tabs {
  &__wrapper {
    
  }

  &__toggles {
    display: flex;
  }

  &__toggle {
    flex: 1 0 0;
    text-align: center;
    border: 1px solid $gray-300;
    padding: 15px;
    cursor: pointer;

    &-active {
      border-bottom: 0;
      background-color: $white-darken;
    }
  }
}

.mui-tab {
  background: $white-darken;
  padding: 15px;
  border: 1px solid $gray-300;
  border-top: none;
  display: none;

  &-active {
    display: block;
  }
}